doctype html


block variables
    - var title = 'test'

block mixins

html(lang='ru-RU')
    head
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(charset="UTF-8")
        link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css")
        link(rel='stylesheet' href='./assets/css/main.css')
        title=title
    body
        block content
        block scripts