$page-bg-color: linear-gradient(167.93deg, #074063 3.62%, #074063 35.15%, #21A1CA 63.59%, #46B6DA 99.26%);

$text-color: #CCE9F2;
$alt-text-color: #E2F3F9;
$title-color: #F7FDFF;
$inactive-text-color: #347593;
$link-color: #A1D4E4;
$divider-color: #295A78;
$divider-alt-color: #4BABC9;
$blob-bg-color: rgba(204, 233, 242, 0.1);

$button-color: #4BABC9;
$transparent-button-color: #4BABC9;
$button-alt-bg-color: #FFFFFF;
$inverted-button-bg-color: #FFFFFF;

$animated-border-color: #CCE9F2;

$promo-title-color: #FCFAF9;

$brands-slide-border-color: #CCE9F2;
$brands-slide-title-color: #FFFFFF;

$skill-blob-bg-color: #FFFFFF;

$person-card-title-color: #404040;
$person-card-subtitle-color: #4090AE;
$person-card-text-color: #8B8B8B;
$person-card-bg-color: #FFFFFF;

$footer-bg-color: #1D3E5C;

$burger-btn-color: #FFFFFF;
$burger-menu-bg-color: rgba(29, 62, 92, 0.1);
$burger-menu-active-link-color: #FCFAF9;