.brands {
  padding: 120px 0;
  &__title {
    margin-bottom: 80px;
  }
  &__slide {
    &r {
      //position: relative;
      width: 84vw;
      //overflow: visible;
      display: flex;
    }
    padding: 30px 16px 16px;
    width: 245px;
    border: 2px solid $brands-slide-border-color;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border-radius: 24px;
    &-icon {
      &-wrap {
        margin-left: auto;
        margin-right: auto;
        width: 189px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      margin-bottom: 30px;
      width: fit-content;
    }
    &-title {
      margin-bottom: 24px;
      font-size: 16px;
      font-weight: 500;
      color: $brands-slide-title-color;
    }
    &-text {
      margin-bottom: 35px;
      font-size: 14px;
      color: $text-color;
    }
  }

  @media (max-width: 768px) {
    padding: 80px 0;
  }
}