mixin Proposal()
    .proposal
        .proposal__wrap.container
            .proposal__content
                h2.proposal__title.title Может #[span.proposal__title_stylish поработаем вместе?]
                .proposal__text.
                    Мы рассматриваем предложения о вложении средств в развитие отдельных брендов и направлений компании.
                    Напишите нам!