mixin Card(title, text)
  .about__card
      h3.about__card-title=title
      div.about__card-text=text

mixin About()
    .about
        .about__wrap.container
            +Card('7 брендов', 'Под нашим чутким контролем')
            +Card('15 человек', 'Специалистов, качественно работающих над проектами')
            +Card('100 млн', 'Рублей в обороте наших проектов')
            +Card('5 лет', 'На IT-рынке')