.button {
  &_transparent {
    color: $transparent-button-color;
    background-color: transparent;
    border: 2px solid $transparent-button-color;
    .button__icon {
      stroke: $transparent-button-color;
      fill: $transparent-button-color;
      stroke-width: 2px;
    }
  }
  &_inverted {
    color: $button-color;
    background-color: $inverted-button-bg-color;
    border: 2px solid $button-color;
  }

  display: flex;
  width: fit-content;
  align-items: center;
  font-size: 16px;
  color: $text-color;
  background-color: $button-color;
  border: none;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  border-radius: 24px;
  cursor: pointer;

  &__icon {
    width: 20px;
    height: 20px;
    &_left {
      order: -1;
      margin-right: 8px;
    }
    &_right {
      order: 1;
      margin-left: 8px;
    }
  }
}