.burger-btn {
  width: 30px;
  cursor: pointer;

  &:before, &:after, div {
    margin: 8px 0;
    content: "";
    display: block;
    height: 2px;
    background: $burger-btn-color;
    border-radius: 3px;
    transition: 0.5s;
  }

  &_active:before {
    transform: translateY(10px) rotate(135deg);
  }

  &_active:after {
    transform: translateY(-10px) rotate(-135deg);
  }

  &_active div{
    transform: scale(0);
  }
}